#output {
  display: none;
}

#pig-sentence, label{
  font-size: 18px;
}

#after-img {
  display: none;
}

#user-input {
  text-align: center;
}

.container-fluid {
  text-align: center;
}

.well {
  margin: 100px;
  background-color: #ddbae4;
}

body{
  color: saddlebrown;
}

img {
  position: relative;
  width: 25%;
}

button {
  margin-top: 50px;
  width: 20%;
}
